.logo {
    font-family: "Mulish", sans-serif;
    font-size: 25px;
    font-weight: 700;

}

.nav-links {
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 60px;
padding-left: 125px;
padding-right: 125px;
}
