@mixin logo($size, $weight) {
    font-family: "Mulish", sans-serif;
    font-size: $size;
    font-weight: $weight;
}

$page-margin: 125px;

@mixin page-margins {
  padding-left: $page-margin; 
  padding-right: $page-margin;

  @media (max-width: 1024px) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (max-width: 600px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

$font-main: "Mulish", sans-serif;